.mat-toolbar-footer {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-h3 {
  padding-top: 15px;
}

/* style the grid items */
.footer-grid-item {
  align-items: center; /* center the content vertically */
  text-align: center; /* center the text */
}

.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* divide the grid into three equal columns */
  grid-gap: 1em; /* add a gap between columns */
}

mat-list-item {
  color: white;
}

.text-color {
  color: #F39200;
}

.align-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon {
    padding-right: 5px;
  }
}

.pointer {
  cursor: pointer;
}
