<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-list>
      <h3 mat-subheader>Kontakt os</h3>
      <mat-list-item>
        <div class="align-contact pointer" (click)="callPhoneNo()">
          <mat-icon>phone</mat-icon>
          <span class="mat-list-item-content">{{phoneNumber}}</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="align-contact pointer" (click)="mailTo()">
          <mat-icon>email</mat-icon>
          <span class="mat-list-item-content">{{email}}</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="align-contact pointer" (click)="navigateToAddress()">
          <mat-icon>place</mat-icon>
          <span class="mat-list-item-content">{{firmName}} <br> {{address}}</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="align-contact pointer">
          <mat-icon>home</mat-icon>
          <span class="mat-list-item-content">CVR: {{cvr}}</span>
        </div>
      </mat-list-item>
    </mat-list>
<!--    <mat-list>-->
<!--      <h3 mat-subheader>Følg os</h3>-->
<!--      <mat-list-item>-->
<!--        <button mat-icon-button>-->
<!--          <mat-icon>facebook</mat-icon>-->
<!--        </button>-->
<!--        <button mat-icon-button>-->
<!--          <mat-icon svgIcon="instagram"></mat-icon>-->
<!--        </button>-->
<!--        <button mat-icon-button>-->
<!--          <mat-icon svgIcon="linkedin"></mat-icon>-->
<!--        </button>-->
<!--      </mat-list-item>-->
<!--    </mat-list>-->

    <mat-list>
      <h3>Åbningstider</h3>
      <mat-list-item>
        <div class="align-contact" style="padding-top: 10px">
          <mat-icon>schedule</mat-icon>
          <span class="mat-list-item-content">Mandag - Fredag <br> 07:00 - 16:00</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="align-contact" style="padding-top: 10px">
          <mat-icon>schedule</mat-icon>
          <span class="mat-list-item-content">Lørdag - Søndag <br> Lukket</span>
        </div>
      </mat-list-item>

      <h3 mat-subheader style="padding-top: 20px">Følg os</h3>
      <mat-list-item>
        <button mat-icon-button (click)="openFacebook()">
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button (click)="openInstagram()">
          <mat-icon svgIcon="instagram"></mat-icon>
        </button>
        <button mat-icon-button (click)="openLinkedIn()">
          <mat-icon svgIcon="linkedin"></mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-toolbar-row>
</mat-toolbar>
