<div class="parent-container background-color">
  <mat-card class="secondary-color">
    <div class="text-padding">
      <h1 class="title">Tidslinje</h1>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              1/10 - 1969
            </mat-panel-title>
            <mat-panel-description>
              Oprindelsen
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="font-size">
            BYGNINGS- & INVENTARSNEDKERI JENS CHR EHMSEN blev oprettet som tømrerfirma under virksomhedstypen
            Enkeltmandsvirksomhed (ENK) og med CVR nummeret 26641217. BYGNINGS- & INVENTARSNEDKERI JENS CHR EHMSEN blev
            etableret d. 1969-10-01 på adressen Hededammen 9, 6705 Esbjerg Ø i Esbjerg kommune.
            <br>
            <br>
            <b>Bjørnskov & Ehmsen er derfor en af de ældste tømrefirmaer i Esbjerg den dag i dag.</b>
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              1/1 - 2022
            </mat-panel-title>
            <mat-panel-description>
              Prisoverslag er gratis og varierer afhængigt af projektet.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="font-size">
            D. 1. Janular 2022 overtog Mark Bjørnskov firmaet.
            <br>
            Læs mere her: <a
            href="https://jv.dk/esbjerg/han-startede-som-laerling-nu-er-han-ejer-mark-bjoernskovs-drengedroem-er-gaaet-i-opfyldelse"
            target="_blank">https://jv.dk/esbjerg/han-startede-som-laerling-nu-er-han-ejer-mark-bjoernskovs-drengedroem-er-gaaet-i-opfyldelse</a>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card>
</div>
