.timeline-container {
  padding: 20px;
}

.timeline-title {
  text-align: center;
  margin-bottom: 20px;
}


mat-panel-title {
  color: black;
  font-weight: bold;
}

mat-panel-description {
  color: black;
  font-weight: bold;
}
