.left-image {
  position: absolute;
  left: 0;
  margin-left: 20px;
  //height: 50px; /* adjust to your desired size */
  //width: 50px; /* adjust to your desired size */
}

.right-image {
  position: absolute;
  right: 0;
  margin-right: 20px;
  height: 60px; /* adjust to your desired size */
  width: 60px; /* adjust to your desired size */
}
