textarea {
  resize: none;
  min-height: 100px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

mat-card-header {
  padding-bottom: 15px;
}

mat-card {
  width: 60%;
  margin: 20px;
}
