textarea {
  resize: none;
  min-height: 100px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

mat-card-header {
  padding-bottom: 15px;
}

mat-card {
  width: 60%;
  margin: 20px;
  background: transparent;
}

.form-label {
  color: black;
}

.disabled-button:disabled {
  background-color: #212121;
  color: lightgray;
  opacity: 0.4;
}
