.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 45%; /* adjust as needed */
  margin: 0 10px; /* adjust as needed */
}

.remove-margin-top {
  margin-top: 0;
}
