@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();


$primary: mat.define-palette(mat.$grey-palette, 900);
$secondary: mat.define-palette(mat.$orange-palette, 700);
$warn: mat.define-palette(mat.$red-palette, 900);
$light: mat.define-palette(mat.$deep-orange-palette, 50);
//$background-orange: #FBCA8D;

$my-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $secondary,
    warn: $light,
    light: $light,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);

body {
  margin : 0;
}

html {
  font-family: 'Roboto', sans-serif; /* sets all the fonts to use Roboto */
}

.background-color {
  background-color: #F39200;
}

.center-header {
  text-align: center;
  padding: 20px;
}

.primary-color {
  background-color: #212121;
}

.secondary-color {
  background-color: #EB7700 !important;
}

.mat-expansion-panel {
  background-color: #EB7700;
}

.font-size {
  font-size: 16px;
}

.text-color {
  color: #F39200;
}
