@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$grey-palette, 900);
$secondary: mat.define-palette(mat.$orange-palette, 700);
//$background-orange: #FBCA8D;

$my-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $secondary,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);
